<?xml version="1.0" encoding="UTF-8"?>
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>OGC</name>
  <standard>
    <name>NSG Web Map Service (NSG WMS)</name>
    <version>
      <name>${spec-version}</name>
      <suite>
        <namespace-uri>http://www.opengis.net/cite/dgiwg/wms</namespace-uri>
        <prefix>tns</prefix>
        <local-name>ets-${ets-code}-${version}</local-name>
        <title>NSG WMS 1.3 Conformance Test Suite</title>
        <description>Checks implementations for conformance to the NSG WMS 1.3 profile.</description>
        <!-- TODO -->
        <!--
        <BasicConformanceClasses>
          <conformanceClass>Preconditions</conformanceClass>
          <conformanceClass>WMS Basic</conformanceClass>
          <conformanceClass>WMS Queryable</conformanceClass>
          <conformanceClass>DGIWG WMS</conformanceClass>
        </BasicConformanceClasses>
        -->
      </suite>
      <revision>
        <name>${project.version}</name>
        <status>Beta</status>
        <sources>
          <source>${ets-code}/${spec-version}/ctl</source>
        </sources>
        <webdir>${ets-code}/${spec-version}/site</webdir>
      </revision>
    </version>
  </standard>
</organization>
